<!doctype html>
<html>
<head>
  <link rel="apple-touch-icon" href="http://image.wufazhuce.com/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/x-icon" href="http://image.wufazhuce.com/favicon.ico">
  <link rel="icon" type="image/x-icon" href="http://image.wufazhuce.com/favicon.ico">
  <link rel="bookmark" href="http://image.wufazhuce.com/favicon.ico" type="image/x-icon"/>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'/>
  <meta charset="utf-8">
  <title>生活应得奖励</title>
  <link charset="utf-8" rel="stylesheet" type="text/css" href="http://resource.wufazhuce.com/one.css?v=4.5.3"/>
  <script>var ONEGLOBAL = {
    cache: "placeholder-one-cache-flag",
    staturl: "http://analytical.wufazhuce.com:81/",
    fullwebview: true,
    api_host: "http://v3.wufazhuce.com:8000/",
    content_type: "1",
    content_id: "3077",
  } </script>
  <style> @font-face {
    font-family: 'oneiconfont'; /* project id 243779 */
  }

  .one-icon {
    font-family: "oneiconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  </style>
</head>
<body class="placeholder-one-night-mode one-webview" style="margin-left: 20px;margin-right: 20px;">
<div class="one-title-box">生活应得奖励</div>
<div class="one-simple-author-box"><span>文／苏更生</span></div>
<div class="one-content-box"><p>
  诺顿，你好呀。此刻我在一个暗黑的屋子里，盯着发亮的屏幕，等待着时间流逝，稍感沮丧。过了最冷的日子以后，风还是没有停下来，气温丝毫没有回升的迹象。我突然开始理解为什么人们会偏爱夏天，因为它有活力，让人振奋，就像青春。而冬天不是这样，冬天是迟缓的，滞重的，带着悬而未决，让人不快。</p>
  <p>但我也不想把一切推卸给天气。</p>
  <p>我尝试了很多办法来解释生活，比如占卜、观星和讨论某种神秘的力量，但是最终我发现，它们都不够有用。但我知道这是我的问题。在玄学的世界里，你必须全力投入，才可能得到确定。</p>
  <p>
    某一年夏天，非常炎热的时候，我在热带国家的小城里瞎逛，随意走进一间庙宇，很多人正在拜佛。我坐在大厅里，享受片刻的阴凉。佛堂里没有烟，有人低语。我等着风吹进来舒缓浑身的燥热。我身边是一对异国母女，年轻的母亲带着幼女，正在向神祷告。</p>
  <p>
    她们说的是外语，我听不懂。只听到妈妈说一句，幼女重复一句。小女儿或许不懂自己说的是什么，但是那一刻，她们的虔诚让人撼动。诺顿先生，就是把自己托付给神，让它来照亮我们的生活的虔诚，全心全意地谦卑，承认自己只是个凡人，一切都仰仗神的恩慈。</p>
  <p>可是我做不到，不是我不想，而是我不能。我如此恐惧这个世界，甚至不敢触摸神的双手，只能兢兢战战地握紧拳头。我不能完全交出自己，不过还好我在逐渐伸出手，诺顿先生，生活里应该包括那些把手弄脏的东西。</p>
  <p>你不能因为恐惧，就不去爱，不去相信，不去接受，即便那些痛苦和绝望，并不让人满意，但是这也没有关系，是这样的吗？</p>
  <p>
    我尝试着不接受完美、不接受胜利、不接受暂时、不接受确定，于是我们得到了答案，生活就是流动、起伏、高低和延绵不绝的时间。我们在时间里随波逐流，不管如何努力，都抵挡不了命运。我将它称之为命运，但有的人不这么做，把它命名为努力、成长或收获之类的东西。</p>
  <p>
    偶尔我会想，我之所以在随时准备失去，是因为我不肯接受不确定，以为失去才是常态。诺顿先生，这是不对的，过分的悲观和乐观都不够准确，我想你一定会同意我这个说法。即便做了让一切烟消云散的准备，生活还是会出其不意，在你毫无察觉之时，为你准备好另外的东西。</p>
  <p>
    那这些东西是什么呢？诺顿先生，人们为了预知未来，费劲了大把力气，知道明天的天气、后天的交通，下周的彩票号码，一年以后的财务状况，人们因为恐惧未知而想要确定，可是，我现在才知道，没什么能确定。即便下周中了乐透，谁又能告诉你，时间就会变得美妙起来。诺顿先生，不仅美妙不能确定，就连哀伤也不能确定。</p>
  <p>
    每当哀伤和欣喜出现时，我都会犹豫片刻，问问自己。如此一来，连自己都不能确定。我们到底是什么呢？无缘无故来到世界上，用各种维度来衡量自己，性别、年龄、职业、身价，住在什么地段，爱过什么人，如此多的度量衡来告诉我们自己是谁，可是诺顿先生，我总觉得不是这样。</p>
  <p>
    就像我在炎热的夏天感受过的一阵风，它和什么都无关，可是它依然存在这个世界上。如果我相信美好的是存在的，那就不要因为它会消失而不去创造。至于世间的维度，我也决定喜欢它们，因为它们的存在，人生变得更复杂，不是吗？诺顿先生，之前我们说过，我们喜欢复杂超过单纯，喜欢深刻超过浅薄，那我们是不是应该也喜欢存在，大过于对烟消云散的恐惧。</p>
  <p>于是我试着去创造、去追赶、去得到，蓄力一跃，而不能对世界无动于衷，不能孤孤单单地存在着，而是要去体验、去纠缠，如果它们会弄脏双手，那么我也不要害怕。毕竟，还有人存在于这个世界上，没有谁会真的孤独。</p>
  <p>诺顿先生，最近看到了一张你的近照。你穿着灰色夹克，正在和布鲁斯&middot;威利斯说戏，我发现你老了许多，就像每个人一样。时间真好呀，它们让我们不是平白无故地衰老。你是为什么而衰老呢？我想每个人的原因都类似，因为获得，因为失去，因为我们存在，衰老不是烟消云散的第一步，对吗？所以我并不恐惧。衰老是我们应得的奖励，因为我们勇敢地活着。有些人不会衰老了，他们永远年轻，但是岁月不会再继续给他们什么东西，我并不喜欢这样。</p>
  <p>
    眼下我打开了灯，喝了一杯热茶，跟你说完这些话，觉得好受多了。冬天也不再那么难熬，用不了多久，我想生活就会好起来，我又会去新的地方，认识新的人，还要开始新的旅行。诺顿先生，生活刷新的速度比我们想象中快，希望您的新电影早日拍完，我好买张电影票。</p>
  <p>不客气，这是我应该做的。</p>
  <p>您东半球官方指定唯一的女朋友</p>
  <p>苏更生</p></div>
<div class="one-editor-box">责任编辑：金子棋 jinziqi@wufazhuce.com</div>
<div class="one-copyright-box">专栏《给爱德华&middot;诺顿写信》，于每周三更新。</div>
<div class="one-authors-box">
  <div class="one-box-header">作者</div>
  <table class="one-author-box one-author-box-for-4813757" data-id="4813757">
    <tr class="one-author-home-trigger">
      <td class="one-author-avatar" width="50px"><img src="http://image.wufazhuce.com/Fg_e6teZsb3lZ1QStYtdnAkh6bO8">
      </td>
      <td class="one-author-profile">
        <div class="one-author-name">苏更生 @假苏更生</div>
        <div class="one-author-brief">「一个」App常驻作家，微信公众号：hulizhai</div>
      </td>
      <td class="one-author-follow" width="60px"><span class="one-author-follow-btn one-author-follow-trigger">关注</span>
        <span class="one-author-unfollow-btn one-author-unfollow-trigger">已关注</span></td>
    </tr>
  </table>
</div>
<div class="one-relates-box" v-if="relates.length">
  <div class="one-box-header">相关推荐</div>
  <table class="one-relate-box " v-for="item in relates" @click.stop="openRelateDetail(item)">
    <tr>
      <td style="width:50px;" class="one-relate-type"> 阅读</td>
      <td>
        <div class="one-relate-title one-relate-trigger" v-text="item.title"></div>
        <div class="one-relate-author">
          <template v-if="item.author_list.length"> 文／<span>{{item.author_list | combineAuthor}}</span></template>
          &nbsp;
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="one-comments-box">
  <div class="one-box-header">评论列表</div>
  <transition-group name="fade" tag="div">
    <template v-for="item in hot_comments">
      <one-comment :commentitem="item" :key="item.id"></one-comment>
    </template>
  </transition-group>
  <div class="one-comment-hsplitter" v-if="hot_comments.length"> 以上是热门评论</div>
  <transition-group name="fade" tag="div">
    <template v-for="item in common_comments">
      <one-comment :commentitem="item" :key="item.id"></one-comment>
    </template>
  </transition-group>
  <div v-if="loaded && hot_comments.length + common_comments.length < 1 " style="text-align:center;"
       class="one-comment-default"><img src="http://image.wufazhuce.com/comment_placeholder.png"
                                        class="one-image-exclude" style="width:150px;margin: 0px auto 0px auto;"
                                        alt="沙发还没人抢"></div>
  <div v-if="!loaded" style="text-align:center" class="one-comment-default"> &uparrow;上拉加载更多评论</div>
</div>
<div style="height:50px; ">&nbsp;</div>
<script charset="utf-8" src="http://resource.wufazhuce.com/one-zepto.min.js"></script>
<script charset="utf-8" src="http://resource.wufazhuce.com/one-vue.min.js"></script>
<script type="text/x-template" id="oneCommentTemplate">
  <div class="one-comment-box"
       :class="{ 'one-hotcomment-box': comment.type == 0, 'one-commoncomment-box': comment.type == 1, 'one-comment-content-collapsed' : expand_status == 'collapsed', 'one-comment-content-expanded' : expand_status == 'expanded', }"
       @click.stop="showCommentMenu(comment, $event)">
    <div class="one-comment-header">
      <div @click.stop="openUserHome(comment)"><img :src="comment.user.web_url"
                                                    class="one-image-exclude one-avatar-img"></div>
      <div @click.stop="openUserHome(comment)"> {{comment.user.user_name}}</div>
      <div class="one-comment-date">{{ comment.input_date | formatDate }}</div>
    </div>
    <div class="one-comment-quote" v-if="comment.quote.length && comment.touser"> {{comment.touser.user_name}}：{{
      comment.quote}}
    </div>
    <div class="one-comment-content">{{ comment.content }}</div>
    <div class="one-comment-tools"><span class="one-comment-tool-content"> <span
      class="one-comment-tool-content-collapse" @click.stop="collapseCommentContent(comment)">收起</span> <span
      class="one-comment-tool-content-expand" @click.stop="expandCommentContent(comment)">展开</span> </span> &nbsp; <span
      class="one-comment-tool-social"> <i class="one-icon one-icon-comment" @click.stop="quoteComment(comment)"></i> <i
      class="one-icon one-icon-thumb" @click.stop="addCommentPraise(comment)" v-if="!comment.is_praised"></i> <i
      class="one-icon one-icon-thumbed" @click.stop="delCommentPraise(comment)" v-if="comment.is_praised"></i> <span
      class="one-comment-praisenum">{{comment.praisenum}}</span> </span></div>
  </div> </script>
<script type="text/x-template" id="oneReadingAudioTemplate">
  <div class="one-readingaudio-box" @click.stop="togglePlaying()">
    <div class="one-readingaudio-progress" :style="{width:percentage+'%'}"></div>
    <div style="display:table;table-layout:fixed;width:100%;">
      <div style="display:table-row;"><span style="display:table-cell;width:24px;"><i aria-hidden="true"
                                                                                      class="one-icon"
                                                                                      :class="{'one-icon-reading': isPlaying, 'one-icon-read1': !isPlaying}"></i></span>
        <span
          style="display:table-cell;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">{{dataText}}</span>
        <span style="display:table-cell;width:48px;text-align:right;">{{remainingTime}}</span></div>
    </div>
  </div> </script>
<script charset="utf-8" src="http://resource.wufazhuce.com/one-swiper.min.js"></script>
<script charset="utf-8" src="http://resource.wufazhuce.com/one-webview-detail.min.js?v=4.5.3"></script>
</body>
</html>
